.slider {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin-top: 181px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  /* for slider image */
  #slider-image {
    width: 100%;
    height: 100%;
  }

  #slider-caption {
    color: #fff;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    width: 80%;
    padding: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }

  #slider-caption-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    max-width: 60%; 
  }

  /* for both buttons */
  #previous-btn,
   #next-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #previous-btn:hover {
    color: orange;
  }

  #next-btn:hover{
    color: #ffa500;
  }
  
  #previous-btn {
    left: 10px;
  }
  
  #next-btn {
    right: 10px;
  }
  /* cation text inside slider */
  #slider-caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #ffa500;/*#FDBE88;*/
    font-size: 40px;
    vertical-align: middle;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
  }
  
  #slider-caption:hover {
    color:#FFCC80;
  }